*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background: linear-gradient(135deg,#ffffff,#eaffea,#ccffcc);
  min-height:100vh;
}

header{
  text-align:center;
  padding:35px 20px;
  font-size:32px;
  font-weight:700;
  margin-top: 80px;
  background: linear-gradient(90deg,#0f9d58,#2ecc71);
  color:white;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.dashboard-section {
  margin-bottom: 70px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  margin: 25px;
  color: #0f9d58;
  padding-left: 10px;
  border-left: 6px solid #2ecc71;
}

.container{
  padding:50px 6%;
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap:30px;
}

.card{
  background:white;
  border-radius:25px;
  padding:50px 20px;
  text-align:center;
  cursor:pointer;
  transition:0.4s ease;
  box-shadow:0 15px 35px rgba(0,0,0,0.08);
}

.card:hover{
  transform:translateY(-12px) scale(1.05);
  box-shadow:0 25px 50px rgba(46,204,113,0.4);
}

.icon{
  font-size:60px;
  margin-bottom:15px;
}

.card h2{
  font-size:18px;
  font-weight:600;
  color:#0f9d58;
}

.card a{
  text-decoration:none;
  color:inherit;
}

footer{
  text-align:center;
  padding:25px;
  background:#0f9d58;
  color:white;
  margin-top:60px;
}